---
layout: catalog
permalink: /try
---
{% comment %}Items per page{% endcomment %}
{% assign itemsPerPage = 10 %}

{% comment %}Calculate total pages{% endcomment %}
{% assign numPages = site.catalog | size | divided_by: itemsPerPage %}
{% assign remainder = site.catalog.size | modulo: itemsPerPage %}
{% if remainder > 0 %}
    {% assign numPages = numPages | plus: 1 %}
{% endif %}
{% assign endIndex = numPages | minus: 1 %}

{% comment %}Pagination Output{% endcomment %}
{% for pageNum in (0..endIndex) %}
  {% assign offset = pageNum | times: itemsPerPage %}
  {% assign pageNumberDisplay = pageNum | plus: 1 %}
  <div class="section-container"  id="see-more-{{ pageNum }}" style="width:100%;display: {% if pageNum == 0 %}block{% else %}none{% endif %};">
    {% include card-modal.html %}
    <div class="row">
      <h2 class="not-found" style="display: none;" id="not-found">No results found</h2>
      {% assign items = site.catalog | sort: 'title' %}
      {% for pattern in items limit: itemsPerPage offset: offset %}
       {% if pattern.patternInfo and pattern.Status != "ComingSoon" %}
       <div class="column column-lg patternCard"
       filter="{{ pattern.name }}"
       type="{{ pattern.type }}"
       status="{{ pattern.Status }}"
       technology='[{% for item in pattern.compatibility %}"{{ item | downcase | replace: ' ', '-' }}"{% if item != last %},{% endif %}{% endfor %}]'
       >
       {% include card.html %}
       {% include modal.html %}
      </div>
      {% elsif pattern.filterInfo %}
        <div
          class="column column-lg patternCard"
          filter="{{ pattern.name }}"
          type="{{ pattern.type }}"
          technology='[{% for item in pattern.compatibility %}"{{ item | downcase | replace: ' ', '-' }}"{% if item != last %},{% endif %}{% endfor %}]'
          status="{{ pattern.Status }}"
        >
          {% include wasm-card.html %}
          <!-- modal included -->
          {% include modal.html %} {% include card-modal.html %}
        </div>
        {% elsif pattern.patternInfo and pattern.Status == "ComingSoon" %}
           <div
            class="column column-lg patternCard"
            filter="{{ pattern.name }}"
            type="{{ pattern.type }}"
            technology='[{% for item in pattern.compatibility %}"{{ item | downcase | replace: ' ', '-' }}"{% if item != last %},{% endif %}{% endfor %}]'
            status="{{ pattern.Status }}"
          >
            {% include coming-soon.html %}
          </div>
      {% endif %}
      {% endfor %}
  </div>
  </div>
{% endfor %}

{% comment %}Add Pagination Buttons{% endcomment %}
<div id="pagination-buttons">
  <button onclick="prevPage()">Previous</button>
  <button onclick="nextPage()">Next</button>
</div>

<script>
  let currentPage = 0;
  const totalPages = {{ numPages }};
  function showPage(pageNum) {
    document.querySelectorAll('div[id^="see-more-"]').forEach(div => div.style.display = 'none');
    document.getElementById(`see-more-${pageNum}`).style.display = 'block';
  }
  function prevPage() {
    if (currentPage > 0) {
      currentPage--;
      showPage(currentPage);
    }
  }
  function nextPage() {
    if (currentPage < totalPages - 1) {
      currentPage++;
      showPage(currentPage);
    }
  }
</script>
